html {
    font-family: Hack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
    
body {
    background-color: #93c5fd;
    margin: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-align: center;
    height: 3em;
    max-height: 200px;
    font-size: 2em;
    font-weight: 800;
    background-color: #fdcb93;
    box-shadow: 1px 1px 3px black;
}

.main-section {
    position: relative;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.add-book-form {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    font-size: 2em;
    font-weight: 800;
    background-color: #fdcb93;
}

.add-book-form > input {
    width: 100%;
    height: 30px;
    border-radius: 10px;;
    font-size: 0.8em;
    font-weight: 500;
}

.form-submit-btn {
    font-size: 0.8em;
    border: black solid 1px;
    border-radius: 10px;
}

.add-book-form-show {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.twist-plus-sign {
    transform: rotate(45deg);
    transition-duration: 0.5s;
}

/* Book card section */

.main-section > .book-card {
    box-sizing: border-box;
    height: 100%;
    width: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    gap: 10px;
    padding: 10px;
    background-color: #f0fdfa;
    border-radius: 10px;
    text-align: center;
}

.book-card > .book-title {
    font-size: 2em;
    flex: 1 1 auto;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-card > .book-author {
    font-size: 1.8em;
}

.book-card > .pages-count {
    font-size: 1.5em;
}

.book-card > button {
    font-size: 1.2em;
    width: 50%;
    height: 30px;
    border: black solid 1px;
    border-radius: 10px;
}

.book-card > .read-button {
    background-color: #d6ffe9;
}

/* End of Book card section */

.add-book-section {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
}

#add-book-btn {
    width: 50px;
    height: 50px;
    font-size: 2.5em;
    background-color: #ffe5d6;
    border: black solid 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #e6b193;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}